In [21]:
import pandas as pd

In [23]:
df = pd.read_csv('dpts_tab.csv')

In [25]:
df.head(104)

,Unnamed: 0,Population,Population.1,Population.2,Population.3,Population.4,Population.5,Population.6,Superficie
0,NaN,1931,1999,2008,2010,2011,2012,2015,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nord,2 029 449,2 555 020,2 564 959,2 576 770,2 579 208,2 587 128,NaN,5 743
3,Paris,2 891 020,2 125 246,2 211 297,2 243 833,2 249 975,2 240 621,NaN,105
4,Bouches-du-Rhône,1 101 672,1 835 719,1 966 005,1 972 018,1 975 896,1 984 784,NaN,5 087
...,...,...,...,...,...,...,...,...,...
99,Corse-du-Sud,NaN,118 593,140 953,143 600,145 846,145 429,NaN,4 014
100,Territoire de Belfort,99 403,137 408,141 958,142 911,143 348,143 940,NaN,609
101,Hautes-Alpes,87 566,121 419,134 205,136 971,138 605,139 554,NaN,5 549
102,Creuse,207 882,124 470,123 907,123 029,122 560,121 517,NaN,5 565
103,Lozère,101 849,73 509,76 973,77 082,77 156,76 889,NaN,5 167

In [30]:
df

,Unnamed: 0,Population,Population.1,Population.2,Population.3,Population.4,Population.5,Population.6,Superficie
0,NaN,1931,1999,2008,2010,2011,2012,2015,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nord,2 029 449,2 555 020,2 564 959,2 576 770,2 579 208,2 587 128,NaN,5 743
3,Paris,2 891 020,2 125 246,2 211 297,2 243 833,2 249 975,2 240 621,NaN,105
4,Bouches-du-Rhône,1 101 672,1 835 719,1 966 005,1 972 018,1 975 896,1 984 784,NaN,5 087
...,...,...,...,...,...,...,...,...,...
99,Corse-du-Sud,NaN,118 593,140 953,143 600,145 846,145 429,NaN,4 014
100,Territoire de Belfort,99 403,137 408,141 958,142 911,143 348,143 940,NaN,609
101,Hautes-Alpes,87 566,121 419,134 205,136 971,138 605,139 554,NaN,5 549
102,Creuse,207 882,124 470,123 907,123 029,122 560,121 517,NaN,5 565
103,Lozère,101 849,73 509,76 973,77 082,77 156,76 889,NaN,5 167

In [27]:
pd.melt(df, id_vars=['Population', 'Superficie'])

    Population Superficie      variable             value
0         1931        NaN    Unnamed: 0               NaN
1          NaN        NaN    Unnamed: 0               NaN
2    2 029 449      5 743    Unnamed: 0              Nord
3    2 891 020        105    Unnamed: 0             Paris
4    1 101 672      5 087    Unnamed: 0  Bouches-du-Rhône
..         ...        ...           ...               ...
723        NaN      4 014  Population.6               NaN
724     99 403        609  Population.6               NaN
725     87 566      5 549  Population.6               NaN
726    207 882      5 565  Population.6               NaN
727    101 849      5 167  Population.6               NaN

[728 rows x 4 columns]

## SQtandardiser :
Pour standardiser des valeurs dans un DataFrame, il est possible d'utiliser la méthode StandardScaler de la bibliothèque scikit-learn. Voici les étapes à suivre :

Importer la classe StandardScaler depuis la bibliothèque scikit-learn:
```
from sklearn.preprocessing import StandardScaler
Sélectionner les colonnes à standardiser dans le DataFrame.
```
```
df_numerical = df.select_dtypes(include=['float64', 'int64'])
Créer une instance de la classe StandardScaler et ajuster-la sur les données sélectionnées.
```

```
scaler = StandardScaler()
scaler.fit(df_numerical
```
Transformer les données sélectionnées avec la méthode transform de la classe StandardScaler.

```
df_numerical_scaled = scaler.transform(df_numerical)
```

Créer un nouveau DataFrame avec les données standardisées et les noms de colonnes correspondants.
```
df_numerical_scaled = pd.DataFrame(df_numerical_scaled, columns=df_numerical.columns)
```
Le nouveau DataFrame df_numerical_scaled contiendra les données sélectionnées standardisées. Il est important de noter que la standardisation doit être effectuée sur les données numériques, et non sur les données catégorielles ou textuelles.

In [11]:
from sklearn.preprocessing import StandardScaler
import numpy as np

In [13]:
data = np.array([41, 28, 32, 30, 40, 47, 63, 31, 45, 60])
pd = pd.DataFrame(data)
pd.head()

    0
0  41
1  28
2  32
3  30
4  40

In [16]:
df_numerical = pd.select_dtypes(include=['float64', 'int64'])
scaler = StandardScaler()
scaler.fit(df_numerical)
df_numerical_scaled = scaler.transform(df_numerical)
df_numerical_scaled = pd.DataFrame(df_numerical_scaled, columns=df_numerical.columns)

ValueError: at least one array or dtype is required

In [42]:
def miseE(list):
	print(list)

	min =list.min()
	max =list.max()


	print(min ,max)

	print((list-min)/(max-min))
	return (list-min)/(max-min)

In [43]:
a = miseE(np.array([41, 28, 32, 30, 40, 47, 63, 31, 45, 60]))

[41 28 32 30 40 47 63 31 45 60]
28 63
[0.37142857 0.         0.11428571 0.05714286 0.34285714 0.54285714
 1.         0.08571429 0.48571429 0.91428571]