In [14]:
import pandas as pd
import numpy as np

In [6]:
csv = pd.read_csv('../TP1 gapminder Life Expectancy/g1800s.csv')

In [7]:
csv.head()

,Unnamed: 0,Life expectancy,1800,1801,1802,1803,1804,1805,1806,1807,...,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899
0,0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,...,27.29,27.28,27.27,27.26,27.25,27.24,27.23,27.22,27.21,27.20
2,2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40
4,4,Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82

In [12]:
melt = pd.melt(frame=csv, id_vars='Life expectancy')

In [13]:
melt.head()

         Life expectancy    variable  value
0               Abkhazia  Unnamed: 0    0.0
1            Afghanistan  Unnamed: 0    1.0
2  Akrotiri and Dhekelia  Unnamed: 0    2.0
3                Albania  Unnamed: 0    3.0
4                Algeria  Unnamed: 0    4.0

### TEST :
Cree un df avec des val random

In [65]:
data = np.array([[0,0.21,0.09,1.3,0.2,1.002,0.32,1.6,0.54,0.61], np.power([0,0.21,0.09,1.3,0.2,1.002,0.32,1.6,0.54,0.61],2)])
index_name = ["point : {}".format(i) for i in range(data.shape[1])]
col_mane = ['test-1', 'test-2']
types = float
df = pd.DataFrame(data.T, index=index_name, dtype=types, columns=col_mane)

In [66]:
df.head()

           test-1  test-2
point : 0    0.00  0.0000
point : 1    0.21  0.0441
point : 2    0.09  0.0081
point : 3    1.30  1.6900
point : 4    0.20  0.0400

In [108]:
df['somme'] = df['test-1'] - df['test-2']
df['somme'] =df['somme'].astype(float)

df['is_positive'] = df['somme']>=0
df['is_positive'] = df['is_positive'].astype(bool)
df.head()

           test-1  test-2   somme  is_positive cat_size
point : 0    0.00  0.0000  0.0000         True    large
point : 1    0.21  0.0441  0.1659         True    large
point : 2    0.09  0.0081  0.0819         True    large
point : 3    1.30  1.6900 -0.3900        False      mid
point : 4    0.20  0.0400  0.1600         True    large

In [109]:
df['cat_size'] = pd.cut(df['somme'], bins=3, labels=['low', 'mid', 'large']).astype('category')

In [116]:
groups = df.groupby('is_positive')['cat_size']

In [117]:
groups.head()

point : 0    large
point : 1    large
point : 2    large
point : 3      mid
point : 4    large
point : 5    large
point : 6    large
point : 7      low
Name: cat_size, dtype: category
Categories (3, object): ['low' < 'mid' < 'large']

## SQtandardiser :
Pour standardiser des valeurs dans un DataFrame, il est possible d'utiliser la mÃ©thode StandardScaler de la bibliothÃ¨que scikit-learn. Voici les Ã©tapes Ã  suivre :

Importer la classe StandardScaler depuis la bibliothÃ¨que scikit-learn:
```
from sklearn.preprocessing import StandardScaler
SÃ©lectionner les colonnes Ã  standardiser dans le DataFrame.
```
```
df_numerical = df.select_dtypes(include=['float64', 'int64'])
CrÃ©er une instance de la classe StandardScaler et ajuster-la sur les donnÃ©es sÃ©lectionnÃ©es.
```

```
scaler = StandardScaler()
scaler.fit(df_numerical
```
Transformer les donnÃ©es sÃ©lectionnÃ©es avec la mÃ©thode transform de la classe StandardScaler.

```
df_numerical_scaled = scaler.transform(df_numerical)
```

CrÃ©er un nouveau DataFrame avec les donnÃ©es standardisÃ©es et les noms de colonnes correspondants.
```
df_numerical_scaled = pd.DataFrame(df_numerical_scaled, columns=df_numerical.columns)
```
Le nouveau DataFrame df_numerical_scaled contiendra les donnÃ©es sÃ©lectionnÃ©es standardisÃ©es. Il est important de noter que la standardisation doit Ãªtre effectuÃ©e sur les donnÃ©es numÃ©riques, et non sur les donnÃ©es catÃ©gorielles ou textuelles.